* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("assets/bg-main-desktop.png"), right top no-repeat url("assets/Group Copy.svg");
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0 165px;
}

body .container header nav {
  padding-top: 61.99px;
}

body .container header h1 {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
  width: 1015px;
  margin: 127.01px 0 40px;
}

body .container header .presentation-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  width: 825px;
}

body .container main .black-card {
  background-color: #191826;
  border-radius: 12px;
  margin-top: 321px;
  width: 1110px;
  height: 600px;
  margin-bottom: 202px;
  position: relative;
}

body .container main .phone-img {
  width: 312px;
  height: 642px;
  left: 102px;
  top: -213px;
  position: absolute;
  z-index: 1;
}

body .container main .geometrics-card {
  left: 336px;
  top: 0px;
  position: absolute;
}

body .container main .orange-card {
  background-color: #FA7453;
  border-radius: 12px;
  padding: 58px 59px 48px 54px;
  color: #FCFAF9;
  left: 569px;
  top: 90px;
  position: absolute;
  width: 446px;
}

body .container main .orange-card h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

body .container main .orange-card p {
  margin: 22px 0 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

body .container main .orange-card .price {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

body .container main .orange-card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 46px;
}

body .container main .orange-card .buttons .btn {
  padding: 20px 30px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

body .container main .orange-card .buttons .ios {
  background-color: #191826;
  color: #FCFAF9;
  margin-bottom: 16px;
}

body .container main .orange-card .buttons .ios:hover {
  background-color: #66E2DC;
}

body .container main .orange-card .buttons .android {
  background-color: #FCFAF9;
  color: #191826;
}

body .container main .orange-card .buttons .android:hover {
  background-color: #FFB964;
}

body .container footer {
  margin-bottom: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container footer .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 366px;
}

body .container footer .social {
  padding-left: 20px;
}

body .container footer img:hover {
  color: #FA7453;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 39px;
  }
  body header h1, body header .presentation-text {
    width: 520px;
  }
  body header h1 {
    font-size: 64px;
    line-height: 64px;
  }
  body header .presentation-text {
    font-size: 18px;
    line-height: 28px;
  }
  body main .black-card {
    width: 696px;
  }
  body main .phone-img {
    left: 97px;
    top: 632px;
    width: 270.21px;
    height: 556px;
  }
  body main .geometrics-card {
    width: 280px;
    height: 420px;
    left: 262px;
    top: 860px;
  }
  body main .orange-card {
    left: 262px;
    top: 980px;
    width: 399px;
    z-index: 2;
  }
  body main .orange-card h2 {
    font-size: 32px;
    line-height: 40px;
  }
  body main .orange-card p {
    font-size: 18px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=style.css.map */